@font-face {
  font-family: 'neokarto';
  src: url('../assets/font/neokarto.eot?5677972');
  src: url('../assets/font/neokarto.eot?5677972#iefix') format('embedded-opentype'),
       url('../assets/font/neokarto.woff?5677972') format('woff'),
       url('../assets/font/neokarto.ttf?5677972') format('truetype'),
       url('../assets/font/neokarto.svg?5677972#neokarto') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'neokarto';
    src: url('../font/neokarto.svg?5677972#neokarto') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "neokarto";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-info:before { content: '\e805'; } /* '' */
.icon-settings:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-comment:before { content: '\e801'; } /* '' */
.icon-marker:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-target:before { content: '\e800'; } /* '' */
.icon-profile:before { content: '\e806'; } /* '' */
