module.exports = {
  player: {
    avatar: 'escafandra',
    channels: {
      track: {
        live: {
          url:  'http://192.168.1.186:5000/bayeux',
          path: 'NEEDS UUID, generating in app!!!',
          protocol: 'bayeux'
        },
        history: {
          url:  'http://192.168.1.186:5000/',
          path: 'NEEDS UUID, generating in app!!!',
        },
      }
    }
  },
  settings: { // for player
    sevices: {
      basemap: {},
      cors: {},
      nominatim: {},
      routino: {}
    }
  },
  realm: {
    url: 'http://192.168.1.186:5000/bayeux',
    roster: {
      path: "/roster"
    }
  },
  media: {
    url: "http://localhost:5001"
  },
  proxy: {
    url: "http://localhost:5002"
  },
  map: {
    center: [47.069, 15.434],
    zoom: 15,
    basemap: {
     template: 'http://c.tiles.mapbox.com/v3/dennisl.map-dfbkqsr2/{z}/{x}/{y}.png',
     maxZoom: 19
    }
  },
  teams: [
    { name: 'ESC', file: 'esc' },
    { name: 'LL+GW', file: 'll+gw' },
    { name: 'ORWELL', file: 'orwell' },
    { name: 'FH-J', file: 'fh-j' },
    { name: 'CY', file: 'cy' },
    { name: 'KIG', file: 'kig' }
  ],
  avatars: [
    { file: 'afro' },
    { file: 'alien' },
    { file: 'anciano' },
    { file: 'artista' },
    { file: 'astronauta' },
    { file: 'barbaman' },
    { file: 'bombero' },
    { file: 'boxeador' },
    { file: 'bruce_lee' },
    { file: 'caradebolsa' },
    { file: 'chavo' },
    { file: 'cientifica' },
    { file: 'cientifico_loco' },
    { file: 'comisario' },
    { file: 'cupido' },
    { file: 'diabla' },
    { file: 'director' },
    { file: 'dreds' },
    { file: 'elsanto' },
    { file: 'elvis' },
    { file: 'emo' },
    { file: 'escafandra' },
    { file: 'estilista' },
    { file: 'extraterrestre' },
    { file: 'fisicoculturista' },
    { file: 'funky' },
    { file: 'futbolista_brasilero' },
    { file: 'gay' },
    { file: 'geisha' },
    { file: 'ghostbuster' },
    { file: 'glamrock_singer' },
    { file: 'guerrero_chino' },
    { file: 'hiphopper' },
    { file: 'hombre_hippie' },
    { file: 'hotdog_man' },
    { file: 'indio' },
    { file: 'joker' },
    { file: 'karateka' },
    { file: 'mago' },
    { file: 'maori' },
    { file: 'mario_barakus' },
    { file: 'mascara_antigua' },
    { file: 'metalero' },
    { file: 'meteoro' },
    { file: 'mimo' },
    { file: 'mister' },
    { file: 'mounstrico1' },
    { file: 'mounstrico2' },
    { file: 'mounstrico4' },
    { file: 'mounstruo' },
    { file: 'muerte' },
    { file: 'mujer_hippie' },
    { file: 'mujer_latina' },
    { file: 'muneco_lego' },
    { file: 'nena_afro' }
  ],
};
