<form>
  <label class="photo icon-camera"><input name="media" type="file" accept="image/*;capture=camera" capture="camera"></label>
  <br/>
  <textarea name="text" placeholder="What's up?"></textarea>
</form>
